.img-container{
    text-align: center;
    display: block;
}

   
.logo-container{
    text-align: center;
    display: block;

}
div{
    background-color:rgb(100, 150, 255);
    text-align: center ;
    margin-left: 200px;
    margin-right: 200px;
}

h3{
    text-align: center;
}
h4{
    text-align:left;
}
