.PROJECTS {
    background-color: aquamarine;
    height: 100px;
    width: 200px;
    display: flexbox;
    flex-wrap: wrap;
    border: chartreuse;
    /* flex-direction: row; */
    justify-content: space-evenly;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 2px;
}

.container {
    background: #ddd;
    display: flexbox;
}

.project-description {
    font-size: 20px;
}

.PROJECTS:hover {
    transform: scale(1.3);
}

.project-heading {
    text-align: center;
    color: blue;
}

.main-heading {
    text-align: center;
}